<template>
	<AdminComponent />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AdminComponent from '@/components/AdminComponent.vue';

@Component({
  components: {
    AdminComponent,
  }
})
export default class Admin extends Vue {
}
</script>

<style lang="postcss" scoped>
</style>
