<template>
  <div>
    <CrowdsourcingForm />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import CrowdsourcingForm from '@/components/CrowdsourcingForm.vue';

@Component({
  components: {
    CrowdsourcingForm,
  }
})
export default class Crowdsourcing extends Vue {}
</script>
