<template>
  <div class="hide-overflow">
    <Map class="h-screen w-screen" apiKey="AIzaSyDNL0MsBnNVPtGC-mTYa-8j_ofkiVAHBRI&libraries=places" />
    <FloatingButton styles="primary" label="+ E" target="/newParkinglot" />
    <FloatingButton styles="middle" label="Go" type="card" />
    <FloatingButton styles="secondary" label="Você" target="/profile" />
    <transition name="slide-up">
      <ParkinglotCard v-if="showCard" />
    </transition>
    <transition name="slide-up">
      <TimePickerCard v-if="showTimePicker" />
    </transition>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Map from "@/components/Map.vue";
import ParkinglotCard from "@/components/ParkinglotCard.vue";
import FloatingButton from '@/components/FloatingButton.vue';
import TimePickerCard from "@/components/TimePickerCard.vue";

@Component({
  components: {
    Map,
    ParkinglotCard,
    FloatingButton,
    TimePickerCard,
  }
})
export default class Home extends Vue {
  get showCard(): boolean {
    return this.$store.getters.isParkinglotSelected;
  }

  get showTimePicker(): boolean {
    return this.$store.getters.isTimePickerSelected;
  }
}
</script>

<style lang="postcss">
.hide-overflow {
  @apply h-screen max-h-screen;
}

.slide-up-enter-active {
  margin-top: 0px;
  transition: all 0.45s ease-in;
  transition-duration: 0.45s;
}

.slide-up-leave-active {
  margin-bottom: -70vh;
  transition-duration: 0.45s;
  overflow: hidden;
}
</style>