<template>
  <ProfileForm :currname="name" :curremail="email">
  </ProfileForm>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ProfileForm from '@/components/ProfileForm.vue';

@Component({
  components: {
    ProfileForm
  }
})

export default class Profile extends Vue {
	public name: string = '';
  	public email: string = '';
	async created() {
		try {
		  const token: any = this.$store.getters.getAccessTokens
	      const resp: any = await this.axios.get('/user', { 
	      	params: {
      			id: token.id
    		}, 
        	headers: { 
          		Authorization: "Bearer " + token.token
       		}
	      });
	      this.name = resp.data.data.name
	      this.email = resp.data.data.email
	    } catch (e) {
	      console.log(e);
	    }
	}
}
</script>

<style lang="postcss" scoped>
</style>
