<template>
  <div>
    <ReservationForm :parkinglot="parkinglot"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ReservationForm from '@/components/ReservationForm.vue';
import { IParkinglot } from '@/typings';


@Component({
  components: {
    ReservationForm
  }
})
export default class Reservation extends Vue {
  public parkinglot_id: string = '';
  public parkinglot: IParkinglot = {
    _id: null, 
    name: null, 
    address: null, 
    openingHours: null, 
    pricingTable: null 
  };

  async created() {
    try {
      this.parkinglot_id = this.$store.getters.selectedParkinglot_id;
      const token: any = this.$store.getters.getAccessTokens
      const resp: any = await this.axios.get(`/parkinglots/${this.parkinglot_id}`, {
          headers: {
          'Access-Control-Allow-Origin': '*',
          'Content-Type': 'application/json',
        }});
      this.parkinglot = JSON.parse(resp.data);
    } catch (e) {
      console.log(e);
    }
  }
}
</script>

<style lang="postcss" scoped>
</style>
