<template>
  <FormBase 
    title="Novo Estacionamento"
    :submit="submit"
    :isValid="isValid"
    :goBack="false"
    confirmButton="Enviar"
    altDestination="/"
    altButton="Voltar">
    <template v-slot:body>
      <label class="text-sm mt-4" for="address">Endereço</label>
      <input class="border rounded mb-4" type="text" v-model="address">

      <label class="text-sm mt-4" for="zipCode">CEP</label>
      <input class="border rounded mb-4" type="text" v-model="zipCode">

      <label class="text-sm mt-4" for="name">Nome</label>
      <input class="border rounded mb-4" type="text" v-model="name">

      <label class="text-sm mt-4" for="pricingTable">Tabela de preços</label>
      <textarea class="border rounded mb-4" v-model="pricingTable"></textarea>
    </template>
  </FormBase>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import FormBase from '@/components/FormBase.vue';

@Component({
  components: {
    FormBase
  }
})
export default class CrowdsourcingForm extends Vue {
  public readonly address: string = '';
  public readonly zipCode: string = '';
  public readonly name: string = '';
  public readonly pricingTable: string = '';

  get isValid(): boolean {
    return true;
  }

  async submit(): Promise<void> {
    console.log(this.address);
    try {
      const token: any = this.$store.getters.getAccessTokens.token;
      const resp: any = await this.axios.post('/staging_parkinglot', {
        address: this.address,
        zipCode: this.zipCode,
        name: this.name,
        pricingTable: this.pricingTable
      }, {
        headers: { 
          Authorization: "Bearer " + token 
        }
      });
      alert('Obrigado! A informação foi enviada para validação.');
      this.$router.replace('/');
    } catch (e) {
      console.log(e);
    }
  }
}
</script>
