<template>
  <div :class="classes" @click="redirect" >
    <small>{{ label }}</small>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class FloatingButton extends Vue {
  @Prop(String) readonly styles!: string;
  @Prop(String) readonly label!: string;
  @Prop(String) readonly target!: string;
  @Prop(String) readonly type!: string;

  get classes(): string[] {
    return [this.styles];
  }

  redirect() {
    if (this.type == "card") {
      this.$store.dispatch("selectTimePicker");
    }
    else {
      this.$router.push(`${this.target}`);
    }
  }
}
</script>

<style lang="postcss" scoped>
div {
  @apply absolute bottom-0 m-8;
  @apply w-16 h-16 flex justify-center items-center;
  @apply rounded-full;
  @apply z-10 shadow-2xl;
  transition-duration: 0.15s;
}

small {
  @apply text-lg font-bold uppercase;
}

.primary {
  @apply bg-green-600 right-0;
}

.primary small {
  @apply text-white;
}

.secondary {
  @apply bg-white border-4 border-green-600 left-0;
}

.secondary small {
  @apply text-green-600;
}

.middle {
  @apply bg-yellow-600 right-1/2;
}

.middle small {
  @apply text-black;
}

@screen lg {
  div:hover {
    @apply w-20 h-20 m-6;
    transition-duration: 0.25s;
  }
}

</style>
