<template>
  <section class="bg-yellow-600 px-6 py-4 w-screen h-screen flex items-center justify-center">
    <div class="bg-white max-w-sm rounded shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ title }}</div>
        <form class="flex flex-col">
          <slot name="body"></slot>

          <div class="mt-6 flex items-center justify-around">
            <button class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded" @click="submitWrapper" :disabled="inProgress || !isValid">{{ confirmButton }}</button>
            <router-link :class="classes" :to="altDestination" replace>{{ altButton }}</router-link>
          </div>
          <router-link v-if="goBack" class="mt-6 flex items-center justify-around bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded"  to="/" replace>Voltar</router-link>
        </form>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class LoginForm extends Vue {
  @Prop(String) public readonly title!: String;
  @Prop(Function) public readonly submit!: Function;
  @Prop(Boolean) public readonly isValid!: Boolean;
  @Prop(String) public readonly confirmButton!: String;
  @Prop(String) public readonly altDestination!: String;
  @Prop(String) public readonly altButton!: String;
  @Prop(Boolean) public readonly goBack!: Boolean;

  public inProgress: boolean = false;

  get classes(): string[] {
    const base: string[] = ['text-blue-500', 'hover:text-blue-800', 'font-bold', 'py-2', 'px-4', 'rounded'];
    if (this.inProgress) {
      base.push('invisible');
    }

    return base;
  }

  async submitWrapper(): Promise<void> {
    try {
      this.inProgress = true;
      await this.submit();
    } catch (e) {
      console.log(e);
    } finally {
      this.inProgress = false;
    }
  }
}
</script>

<style lang="postcss" scoped>
</style>
