<template>
  <FormBase
    title="Login"
    :submit="submit"
    :isValid="isValid"
    :goBack="true"
    confirmButton="Login"
    altDestination="/register"
    altButton="Não tem conta?">
    <template v-slot:body>
      <label class="text-sm mt-4" for="email">E-mail</label>
      <input class="border rounded mb-4" type="text" v-model="email">

      <label class="text-sm mt-4" for="password">Senha</label>
      <input class="border rounded mb-4" type="password" v-model="password">
    </template>
  </FormBase>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import FormBase from '@/components/FormBase.vue';

@Component({
  components: {
    FormBase
  }
})
export default class LoginForm extends Vue {
  public email: string = '';
  public password: string = '';

  private validate(): boolean {
    const emailRgx: RegExp = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
    const passRgx: RegExp = /[a-zA-Z0-9]{6,20}/;

    const isValid: boolean = true
      && this.email.match(emailRgx) !== null
      && this.password.match(passRgx) !== null;

    return isValid;
  }

  get isValid(): boolean {
    return true;
  }

  async submit(): Promise<void> {
    if (this.validate()) {
      try {
        const resp: any = await this.axios.post('/auth', {
          email: this.email,
          password: this.password
        });
        const { token, refresh, id, role }: any = resp.data.data;
        console.log(role);
        this.$store.dispatch('login', { token, refresh, id, role });
        this.$router.replace('/');
      } catch (e) {
        console.log(e);
      }
    }
  }
}
</script>
