<template>
  <div>
    <div class="absolute top-0 w-full min-h-full" ref="googleMap"></div>
    <section class="absolute top-0 w-full flex flex-col">
      <input
        type="text"
        ref="searchBox"
        class="m-8 px-4 py-2 rounded-full shadow-lg border border-gray-500"
        placeholder="Digite sua busca"
      >
    </section>
  </div>
</template>

<script lang="ts">
import GoogleMapsApiLoader from 'google-maps-api-loader';
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import { IMarker } from '@/typings';
import { mapSettings } from '@/constants/mapSettings';

import db from '@/constants/db.json';

@Component
export default class Map extends Vue {
  @Prop(String) readonly apiKey: string | undefined;

  google: any = null;
  map: any = null;
  markers: IMarker[] = [];
  parkinglots: any = [];
  googleMarkers: any = [];
  currentLocation: any = { lat: -23.557934, lng: -46.654613 };
  you: any = null;

  async created() {
    try {
      const resp: any = await this.axios.get('/markers', {
        headers: {
          'Access-Control-Allow-Origin': '*',
          'Content-Type': 'application/json',
        }
      });
      this.markers = JSON.parse(resp.data);
      this.markers = this.markers
        .map((marker: IMarker): IMarker => {
          return {
            ...marker,
            position: {
              lat: Number(marker.position.lat),
              lng: Number(marker.position.lng),
            }
          };
        });
      const resp2: any = await this.axios.get('/parkinglots', {
        headers: {
          'Access-Control-Allow-Origin': '*',
          'Content-Type': 'application/json',
        }
      });
      this.parkinglots = JSON.parse(resp2.data);
    } 
    catch (error) {
      console.log(error);
      this.markers = db.markers;
    }

    this.setupMap();
  }

  async setupMap(): Promise<void> {
    this.google = await GoogleMapsApiLoader({
      apiKey: this.apiKey
    });

    const mapConfig: any = {
      ...mapSettings,
      zoom: 15,
      center: await this.getLocation(),
      disableDefaultUI: true
    };

    const mapContainer: any = this.$refs.googleMap;
    this.map = new this.google.maps.Map(mapContainer, mapConfig);
    this.you = new this.google.maps.Marker({
          position: await this.getLocation(),
          map: this.map,
          label: {
            color: 'black',
            fontWeight: 'bold',
            text: "Você"
          },
        });
    this.setupMarkers();
    this.setupSearchBox();
  }

  setupMarkers(): void {
    var markerIcon = {
      url: "https://image.flaticon.com/icons/svg/2067/2067687.svg",
      scaledSize: new this.google.maps.Size(40, 40),
      origin: new this.google.maps.Point(0, 0), // used if icon is a part of sprite, indicates image position in sprite
      anchor: new this.google.maps.Point(20,40),// lets offset the marker image,
      labelOrigin: new this.google.maps.Point(20,0)
    };
    this.markers
      .forEach((marker: IMarker): void => {
        const m: any = new this.google.maps.Marker({
          icon: markerIcon,
          position: marker.position,
          map: this.map,
          label: {
            color: 'black',
            fontWeight: 'bold',
            text: "R$ ..."
          },
        });

        const comp: any = this;
        m.addListener('click', () => {
          comp.$store.dispatch('clearSelectedParkinglot');
          setTimeout(
            () => comp.$store.dispatch('selectParkinglot', marker.parkinglot_id),
            125
          );
        });
        this.googleMarkers.push(m);
      });
  }

  mounted() {
    this.$root.$on('recalculatePrice', () => {
      this.googleMarkers.forEach((marker: any): void => {
        const price: string = "R$ " + (Math.floor(Math.random() * (+30 - +9)) + +9).toString();
        marker.setLabel({
            color: 'black',
            fontWeight: 'bold',
            text: price
          });
      });
    })
  }

  setupSearchBox(): void {
    const searchBoxInput: any = this.$refs.searchBox;
    const searchBox: any = new this.google.maps.places
      .SearchBox(searchBoxInput, { types: ['geocode'] });

    this.map
      .addListener('bounds_changed', () => searchBox.setBounds(this.map.getBounds()));
    
    searchBox.addListener('places_changed', () => {
      let places: any = searchBox.getPlaces();
      let placesCenter: any = { lat: 0, lng: 0 };
    
      if (places.length == 0) {
        return;
      }

      let bounds: any = new this.google.maps.LatLngBounds();
      places.forEach((place: any) => {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        placesCenter.lat += place.geometry.location.lat();
        placesCenter.lng += place.geometry.location.lng();
      });
      placesCenter.lat /= places.length;
      placesCenter.lng /= places.length;
      this.map.setCenter(placesCenter);
      if (this.you !== null) {
        this.you.setMap(null);
      }
      this.you = new this.google.maps.Marker({
          position: placesCenter,
          map: this.map,
          label: {
            color: 'black',
            fontWeight: 'bold',
            text: "Você"
          },
        });
    })
  }

  async getLocation() {    
    return new Promise((resolve, reject) => {
      if (!navigator.geolocation) {
        reject(new Error('Geolocation is not available.'));
      }
      navigator.geolocation.getCurrentPosition((position: any) => {
        this.currentLocation = { 
              lat: position.coords.latitude, 
              lng: position.coords.longitude 
        } 
        resolve(this.currentLocation);
        
      }, err => {
        reject(err);
      });
    });
  }
}

</script>
