<template>
  <section class="z-20 absolute bottom-0 h-12/10 w-full md:px-20 lg:px-64 bg-white border-t-2 border-gray-600 rounded-t-lg">
    <div class="h-full w-full flex flex-col justify-around items-center p-2">
      <button @click="close" class="self-end">Fechar</button>
      <h2 class="text-3xl">{{ parkinglot.name }}</h2>
      <div class="ml-8 self-start flex flex-col justify-around">
        <h4 class="text-xl">{{ parkinglot.address }}</h4>
        <small class="text-md">{{ parkinglot.openingHours }}</small>
      </div>
      <div class="p-1">
        <img class="object-scale-down h-full-6 w-full" :src="randomimage">
        <div class="h-2"></div>
        <div class="flex h-3">
          <div class=" w-1/8"><img class="object-scale-down w-12 h-6" src="https://www.compusystems.com/events/wp-content/uploads/2018/02/money-bill-alt-small.png"></div>
          <div class=" w-1/8" :style="displaylogo1"><img class="object-scale-down w-12 h-6" src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_2.gif"></div>
          <div class=" w-1/8" :style="displaylogo2"><img class="object-scale-down w-12 h-6" src="http://www.credit-card-logos.com/images/mastercard_credit-card-logos/mastercard_logo_1.gif"></div>
          <div class=" w-1/8" :style="displaylogo3"><img class="object-scale-down w-12 h-6" src="http://www.credit-card-logos.com/images/american_express_credit-card-logos/american_express_logo_2.gif"></div>
        </div>
      </div>
      <div class="p-8 w-full">
        <div class="font-bold">Tabela de Preços</div>
        <div v-for="entry of sortedPrices" :key="entry.order" class="table-row">
          <div class="table-col">{{ entry.label }}</div>
          <div class="table-col">{{ entry.price }}</div>
        </div>
      </div>
      <router-link class="mt-6 flex items-center justify-around bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded" to="/reservation" replace>Reservar</router-link>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
import { IParkinglot } from '@/typings';

@Component
export default class ParkinglotCard extends Vue {
  parkinglot: IParkinglot = {
    _id: null, 
    name: null, 
    address: null, 
    openingHours: null, 
    pricingTable: null 
  };

  get showCard(): boolean {
    return this.$store.getters.isParkinglotSelected;
  }

  get parkinglot_id(): string {
    return this.$store.getters.selectedParkinglot_id;
  }

  get displaylogo1(): string {
    console.log
    if (((parseInt(this.$store.getters.selectedParkinglot_id.toString().substring(21, 24), 16)+13) % 2) == 0) {
      return "display:none"
    }
    else {
      return ""
    }
  }

  get displaylogo2(): string {
    if (((parseInt(this.$store.getters.selectedParkinglot_id.toString().substring(21, 24), 16)-4) % 2) == 1) {
      return "display:none"
    }
    else {
      return ""
    }
  }

  get displaylogo3(): string {
    if (((parseInt(this.$store.getters.selectedParkinglot_id.toString().substring(21, 24), 16)%29) % 5) >= 3) {
      return "display:none"
    }
    else {
      return ""
    }
  }

  get randomimage(): string {
    var index =  (parseInt(this.$store.getters.selectedParkinglot_id.toString().substring(19, 24), 16)+17) % 4;
    var links = [
      "https://i.ibb.co/tMNsY9y/d.jpg",
      "https://i.ibb.co/JHh6tbv/c.jpg",
      "https://i.ibb.co/5MH80bH/b.jpg",
      "https://i.ibb.co/vj4TBvk/a.jpg"
    ];
    return links[index];
  }

  async created() {
    try {
      const id: string = this.parkinglot_id;
      const resp: any = await this.axios.get(`/parkinglots/${id}`, {
          headers: {
          'Access-Control-Allow-Origin': '*',
          'Content-Type': 'application/json',
        }});
      this.parkinglot = JSON.parse(resp.data);
    } catch (error) {
      console.log(error);
    }
  }

  get sortedPrices(): any[] | undefined {
    if (!this.parkinglot.pricingTable) {
      return undefined;
    }

    return this.parkinglot.pricingTable
      .sort((a: any, b: any): number => a.order - b.order);
  }

  close(): void {
    this.$store.commit('clearSelectedParkinglot');
  }
}
</script>

<style lang="postcss" scoped>
section {
  box-sizing: border-box;
}

.table-row {
  @apply flex flex-row flex-no-wrap justify-between;
}
</style>
