<template>
  <FormBase
    title="Informações"
    :submit="submit"
    :goBack="false"
    v-bind:isValid="isValid"
    confirmButton="Atualizar"
    altDestination="/"
    altButton="Voltar">
    <template v-slot:body>
      <label for="name" class="text-sm mt-4">Nome</label>
      <input class="border rounded" type="text" v-model="name" :placeholder="currname">
      <p :class="nameErrorClasses">{{ nameError }}</p>
      <label for="email" class="text-sm mt-4">E-mail</label>
      <input class="border rounded" type="email" v-model="email" :placeholder="curremail">
      <p :class="emailErrorClasses">{{ emailError }}</p>

      <label class="text-sm mt-4" for="password">Senha</label>
      <input class="border rounded" type="password" v-model="curpassword">
      <p :class="curpasswordErrorClasses">{{ curpasswordError }}</p>

      <label class="text-sm mt-4" for="password">Nova senha</label>
      <input class="border rounded" type="password" v-model="password">
      <p :class="passwordErrorClasses">{{ passwordError }}</p>

      <label class="text-sm mt-4" for="password">Confirmação nova senha</label>
      <input class="border rounded" type="password" v-model="confirmPassword">
      <p :class="confirmPasswordErrorClasses">{{ confirmPasswordError }}</p>
      <div class="mt-6 flex items-center justify-around">
        <button v-if="isAdmin()" class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded">Administração</button>
      </div>
      <div class="mt-6 flex items-center justify-around">
        <button class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded">Logout</button>
      </div>
    </template>
  </FormBase>

</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
import FormBase from '@/components/FormBase.vue';

@Component({
  components: {
    FormBase
  }
})
export default class ProfileForm extends Vue {
  @Prop(String) public readonly currname!: string;
  @Prop(String) public readonly curremail!: string;

  public name: string = this.currname;
  public email: string = this.curremail;
  public curpassword: string = '';
  public password: string = '';
  public confirmPassword: string = '';

  private static errorClasses: string[] = [
    'text-red-500',
    'text-xs',
    'italic',
  ];

  async created() {
  }
  get nameError(): string {
    const nameRgx: RegExp = /[a-z\ \-\ã\á\à\â\é\è\ê\í\ì\ó\ò\ô\õ\ú\ù]{5,}/i;

    if (this.name.match(nameRgx) === null && this.name != '') {
      return 'Nome precisa ter pelo menos 5 caracteres';
    }

    return '';


  }

  get emailError(): string {
    const emailRgx: RegExp = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;

    if (this.email.match(emailRgx) === null && this.email != '') {
      return 'Formato de e-mail incorreto';
    }

    return '';
  }

  get curpasswordError(): string {
    const passRgx: RegExp = /[a-zA-Z0-9]{6,20}/;

    if (this.curpassword.match(passRgx) === null) {
      return 'Informe a senha para alteração dos dados';
    }

    return '';
  }

  get passwordError(): string {
    const passRgx: RegExp = /[a-zA-Z0-9]{6,20}/;

    if (this.password.match(passRgx) === null && this.password != '') {
      return 'Senha só alfanumérica entre 6 e 20 caractéres';
    }

    return '';
  }

  get confirmPasswordError(): string {
    if (!(this.confirmPassword === this.password)) {
      return 'Senhas não coincidem';
    }

    return '';
  }

  private errorClasses(attrError: any): string[] {
    if (attrError === 0) {
      return ProfileForm.errorClasses.concat('invisible');
    } else {
      return ProfileForm.errorClasses;
    }
  }

  get nameErrorClasses(): string[] {
    return this.errorClasses(this.nameError);
  }

  get emailErrorClasses(): string[] {
    return this.errorClasses(this.emailError);
  }

  get curpasswordErrorClasses(): string[] {
    return this.errorClasses(this.passwordError);
  }

  get passwordErrorClasses(): string[] {
    return this.errorClasses(this.passwordError);
  }

  get confirmPasswordErrorClasses(): string[] {
    return this.errorClasses(this.confirmPasswordError);
  }

  get isValid(): boolean {
    return this.nameError.length === 0 && this.emailError.length === 0 && this.curpasswordError.length === 0 && this.passwordError.length === 0 && this.confirmPasswordError.length === 0 && (this.name.length != 0 || this.email.length != 0 || this.password.length != 0);
  }

  logout(): void {
    let token: any = null;
    let refresh: any = null;
    let id: any = null;
    let role: any = null;
    this.$store.dispatch('login', { token, refresh, id, role });
    this.$router.replace('/');
  }

  isAdmin(): boolean {
    const role: any = this.$store.getters.getAccessTokens.role;
    if (role == 'admin') {
      return true;
    }
    return false;
  }

  async submit(): Promise<void> {
    try {
      const token: any = this.$store.getters.getAccessTokens.token;
      const resp: any = await this.axios.patch('/user', {
        password: this.curpassword, 
        query: {
          name: this.currname,
          email: this.curremail
        },
        payload: {
          name: (this.name != '') ? this.name : this.currname,
          email: (this.email != '') ? this.email : this.curremail,
          password: (this.password != '') ? this.password : this.curpassword
        }
      }, {
        headers: { 
          Authorization: "Bearer " + token 
        }
      });
      alert('Dados atualizados com sucesso!');
      this.$router.replace('/');
    } catch (e) {
      console.log(e);
    }
  }
}
</script>
