<template>
  <FormBase
    title="Cadastro"
    :submit="submit"
    :goBack="true"
    v-bind:isValid="isValid"
    confirmButton="Cadastre"
    altDestination="/login"
    altButton="Já tem conta?">
    <template v-slot:body>
      <label for="name" class="text-sm mt-4">Nome</label>
      <input class="border rounded" type="text" v-model="name">
      <p :class="nameErrorClasses">{{ nameError }}</p>

      <label for="email" class="text-sm mt-4">E-mail</label>
      <input class="border rounded" type="email" v-model="email">
      <p :class="emailErrorClasses">{{ emailError }}</p>

      <label class="text-sm mt-4" for="password">Senha</label>
      <input class="border rounded" type="password" v-model="password">
      <p :class="passwordErrorClasses">{{ passwordError }}</p>
    </template>
  </FormBase>

</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import FormBase from '@/components/FormBase.vue';

@Component({
  components: {
    FormBase
  }
})
export default class RegisterForm extends Vue {
  public name: string = '';
  public email: string = '';
  public password: string = '';

  private static errorClasses: string[] = [
    'text-red-500',
    'text-xs',
    'italic',
  ];

  get nameError(): string {
    const nameRgx: RegExp = /[a-z\ \-\ã\á\à\â\é\è\ê\í\ì\ó\ò\ô\õ\ú\ù]{5,}/i;

    if (this.name.match(nameRgx) === null) {
      return 'Nome precisa ter pelo menos 5 caracteres';
    }

    return '';


  }

  get emailError(): string {
    const emailRgx: RegExp = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;

    if (this.email.match(emailRgx) === null) {
      return 'Formato de e-mail incorreto';
    }

    return '';
  }

  get passwordError(): string {
    const passRgx: RegExp = /[a-zA-Z0-9]{6,20}/;

    if (this.password.match(passRgx) === null) {
      return 'Senha só alfanumérica entre 6 e 20 caractéres';
    }

    return '';
  }

  private errorClasses(attrError: any): string[] {
    if (attrError === 0) {
      return RegisterForm.errorClasses.concat('invisible');
    } else {
      return RegisterForm.errorClasses;
    }
  }

  get nameErrorClasses(): string[] {
    return this.errorClasses(this.nameError);
  }

  get emailErrorClasses(): string[] {
    return this.errorClasses(this.emailError);
  }

  get passwordErrorClasses(): string[] {
    return this.errorClasses(this.passwordError);
  }

  get isValid(): boolean{
    return this.nameError.length === 0 &&this.emailError.length === 0 && this.passwordError.length === 0;
  }


  async submit(): Promise<void> {
    try {
      const resp: any = await this.axios.post('/register', {
        name: this.name,
        email: this.email,
        password: this.password
      });
      console.log(resp.data.message);
      this.$router.replace('/login');
    } catch (e) {
      console.log(e);
    }
  }
}
</script>
