<template>
  <FormBase
    title="Reserva de Estacionamento"
    :submit="submit"
    v-bind:isValid="isValid"
    confirmButton="Reservar"
    altDestination="/"
    altButton="Cancelar">
    <template v-slot:body>
      <p> Estacionamento: {{ parkinglot.name }} </p>
      <v-row>
      	<v-col cols="11" sm="5">
	      <v-menu
	        ref="entrada"
	        v-model="menu1"
	        :close-on-content-click="false"
	        :nudge-right="40"
	        :return-value.sync="start"
	        transition="scale-transition"
	        offset-y
	        max-width="290px"
	        min-width="290px"
	      >
	        <template v-slot:activator="{ on }">
	          <v-text-field
	            v-model="start"
	            label="Entrada"
	            prepend-icon="access_time"
	            readonly
	            v-on="on"
	          ></v-text-field>

	        </template>
	        <v-time-picker
	          v-if="menu1"
	          v-model="start"
	          full-width
	          @click:minute="$refs.entrada.save(start)" format="24hr" :max="end"
	        ></v-time-picker>
	      </v-menu>
	    </v-col>
      <v-col cols="11" sm="5">
	      <v-menu
	        ref="saida"
	        v-model="menu2"
	        :close-on-content-click="false"
	        :nudge-right="40"
	        :return-value.sync="end"
	        transition="scale-transition"
	        offset-y
	        max-width="290px"
	        min-width="290px"
	      >
	        <template v-slot:activator="{ on }">
	          <v-text-field
	            v-model="end"
	            label="Saída"
	            prepend-icon="access_time"
	            readonly
	            v-on="on"
	          ></v-text-field>

	        </template>
	        <v-time-picker
	          v-if="menu2"
	          v-model="end"
	          full-width
	          @click:minute="$refs.saida.save(end)" format="24hr" :min="start"
	        ></v-time-picker>
	      </v-menu>
	    </v-col>
    </v-row>

    </template>
  </FormBase>

</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
import FormBase from '@/components/FormBase.vue';
import { IParkinglot } from '@/typings';


@Component({
  components: {
    FormBase
  }
})
export default class ReservationForm extends Vue {
  @Prop(Object) readonly parkinglot: IParkinglot = {
    _id: null, 
    name: null, 
    address: null, 
    openingHours: null, 
    pricingTable: null 
  };
  public start: any = this.$store.getters.getReservation.arrive;;
  public end: any = this.$store.getters.getReservation.leave;
  public menu1: boolean = false;
  public menu2: boolean = false;

  get isValid(): boolean {
    return true;
  }


  async submit(): Promise<void> {
    try {
      const resp: any = await this.axios.post('/reservation', {
        user: this.$store.getters.getAccessTokens.id,
        parkinglot: this.parkinglot._id,
        start: this.start,
        end: this.end
      });
      alert("Reserva realizada com sucesso.")
    } catch (e) {
      console.log(e);
    }
  }
}
</script>
