<template>
  <section class="z-20 absolute bottom-0 h-4/10 w-full md:px-20 lg:px-64 bg-white border-t-2 border-gray-600 rounded-t-lg">
    <div class="h-full w-full flex flex-col justify-around items-center p-2">
      <button @click="close" class="self-end">Fechar</button>
      <v-row>
        <v-col cols="11" sm="5">
        <v-menu
          ref="entrada"
          v-model="menu1"
          :close-on-content-click="false"
          :nudge-right="40"
          :return-value.sync="start"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="start"
              label="Entrada"
              prepend-icon="access_time"
              readonly
              v-on="on"
            ></v-text-field>

          </template>
          <v-time-picker
            v-if="menu1"
            v-model="start"
            full-width
            @click:minute="$refs.entrada.save(start)" format="24hr" :max="end"
          ></v-time-picker>
        </v-menu>
      </v-col>
      <v-col cols="11" sm="5">
        <v-menu
          ref="saida"
          v-model="menu2"
          :close-on-content-click="false"
          :nudge-right="40"
          :return-value.sync="end"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="end"
              label="Saída"
              prepend-icon="access_time"
              readonly
              v-on="on"
            ></v-text-field>

          </template>
          <v-time-picker
            v-if="menu2"
            v-model="end"
            full-width
            @click:minute="$refs.saida.save(end)" format="24hr" :min="start"
          ></v-time-picker>
        </v-menu>
      </v-col>
    </v-row>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';

@Component
export default class TimePickerCard extends Vue {
  public start: any = this.$store.getters.getReservation.arrive;
  public end: any = this.$store.getters.getReservation.leave;
  public menu1: boolean = false;
  public menu2: boolean = false;

  get showCard(): boolean {
    return this.$store.getters.isTimePickerSelected;
  }

  async created() {
    try {
    } catch (error) {
      console.log(error);
    }
  }

  async close() {
    await this.$store.commit('setReservation', { arrive: this.start, leave: this.end });
    await this.$root.$emit('recalculatePrice');
    this.$store.commit('clearTimePicker');
  }
}
</script>

<style lang="postcss" scoped>
section {
  box-sizing: border-box;
}

.table-row {
  @apply flex flex-row flex-no-wrap justify-between;
}
</style>
